body{
    /**background-image: url(./desarrollo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: left bottom;
    **/
    color: black;
    background-color: aliceblue;
    text-align: justify;
    text-indent: 20px;
/**
    word-spacing: 10px;
    letter-spacing: 5px;
    **/
}

#caja{
    border: 3px solid rgb(142, 13, 13);
    color: white;
    background-color: rgb(237, 7, 53);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    font-family: "open sans";
}
h2{
    color: white;
    background-color: salmon;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}
p{
    color: black;
}